 h1 {
   color: red;
 }

.social-btn {
  position: static;
  border: solid;
  margin: 25px;
  padding: 25px;
  height: 70px;
  background: #d9534f;
  text-align: center;
  font-size: 15px;
  color: white;
}

